<head>
  <title>Add-order</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Add Order Details</h2>
  <form action="" method="POST" runsat="server">
    <div class="form-group">
      <label for="order_id">OrderId</label>
      <input type="text" class="form-control" id="order_id" placeholder="Enter order_id" name="order_id">
    </div>

    <div class="form-group">
      <label for="price">Price</label>
      <input type="text" class="form-control" id="price" placeholder="Enter price" name="price">
    </div>

    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Enter title" name="title"> 
    </div>
    <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
  </form>
</div>

</body>

<script>
function validate()
{
  var order_id=$("#order_id").val();
  var title=$("#title").val();
  var price=$("#price").val();

  $.ajax({
						type: 'POST',
            url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8082/api/orders/addorder',
            headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6ODY0MDAsImlhdCI6MTUxNTc0Mzk5OH0.Tm_GzMICXopVH8ltstWtFXq3mUnrLnxZRnMZ1cHXBZ0"},
            data: {order_id:order_id,title:title,price:price},						
                        success: function(data) {
                            alert(JSON.stringify(data));
                            console.log(JSON.stringify(data));
                            $("#order_id").val("");$("#title").val("");
                            $("#price").val("");
                        }
  });
  return false;
}

</script>
</html>

