<head>
  <title>Return-order</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Return Order details</h2>
  
  <form action="" action="POST">

      <div class="form-group">
        <label for="order_id">OrderId</label>
        <input type="text" class="form-control" id="order_id" placeholder="Enter order_id" name="order_id">
      </div>
  
      <button type="submit" class="btn btn-default" onclick="return validate();">Submit</button>
    </form>

</body>

<script>

function validate()
{
  var order_id=$("#order_id").val();
  
  $.ajax({
    type: 'PUT',
    url: 'http://ec2-13-127-81-8.ap-south-1.compute.amazonaws.com:8082/api/orders/returnorder',
    headers: {'token': "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6InJwYWxsYXZpNDY1QGdtYWlsLmNvbSIsInN0b3JlTmFtZSI6InJndWt0aWlpdCIsImV4cCI6MTUxNTcwMTI1NCwiaWF0IjoxNTE1Njk3NjU0fQ.Xy1B7UmaqKRQ2_CJynqbmnGEHQ4GkLv8YwZH2Jq9rNY"},
    data: {order_id:order_id},						
                success: function(data) {

                  alert(JSON.stringify(data));
                  console.log(JSON.stringify(data));
                  $("#order_id").val("");
                }
});
  return false;
}

</script>
</html>

